<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Generated seed') }}</div>

            <div class="line"></div>

            <div class="text" v-html="$t('<p>Save these 12 words on paper, order is important. Take care of safety and dont give them to anyone! This seed will allow you to restore your wallet if you lose access.</p>')"></div>

            <div class="generated-seed">
                <div v-for="(seed, i) in seeds" :key="i">
                    {{ seed }}
                </div>
            </div>

            <div class="line"></div>

            <div class="group checkbox" style="padding-top: 10px;">
                <label>
                    <input type="checkbox" v-model="customWords">
                    <span class="check"/>

                    <i>{{ $t('Expand this seed with custom words') }}</i>
                </label>
            </div>

            <template #menu>
                <div @click="$root.openRoute({redirectPath: '/setup/wallet'})">
                    <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H19V3H12V9H19V13H0V0ZM13 4H20V8H13V4ZM14 5H16V7H14V5Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div @click="$root.openRoute(other.backSettings)">
                    <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H0V8H8V6H10V5H15L16 6H20L18 2H8V0ZM3 3H5V5H3V3Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="is-activated">
                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1L6 0L7 1V6.08572L10.7678 2.31796V3.73218V5.14639L7.91416 8H4.08585L1.23224 5.14639V3.73218V2.31796L5 6.08573V1ZM12 9H0L2 15H10L12 9Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 0.5L3 0H9L9.5 0.5L10 1V5H12L10 13H2L0 5H2V1L2.5 0.5ZM4 5H8V2H4V5ZM5 8H7V10H5V8Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 5L10 0V3H2L0 7H10V10L16 5Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'GenerateSeed',

        data() {
            return {
                customWords: false,

                other: {
                    backSettings: {
                        redirectPath: '/setup/keystore'
                    }
                }
            }
        },
        watch: {
            customWords() {
                if (!this.customWords) {
                    this.$store.commit('Wallet/passphrase', '')
                }

            }
        },

        computed: {
            seeds() {
                return this.$store.state.Wallet.walletMnemonic.split(' ')
            }
        },

        methods: {
            nextStep() {
                this.$store.commit('Wallet/passphrase', '')
                if (this.customWords) {
                    this.$router.push('/setup/extension-seed')
                } else {
                    this.$router.push('/setup/password')
                }
            }
        },

        mounted() {
            this.customWords = !!this.$store.state.Wallet.passphrase
        },

        components: {SetupLayout}
    }
</script>
