<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('BGL Wallet') }}</div>

            <div class="text" v-html="$t('<p>Create a wallet and name it or select an existing.</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="group input">
                    <div class="label">{{ $t('Name') }}</div>

                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="dropdown">
                                <input type="text" :class="{ 'is-focus' : filteredWallets.length }" spellcheck="false"
                                       v-model="walletName"
                                       @focus="showWallets" @blur="hideWallets" @keyup="keyMonitor">

                                <div class="navs" v-if="other.showDropdown && filteredWallets.length">
                                    <div v-for="(wallet, i) in filteredWallets" :key="i"
                                         :class="{ 'is-activated' : ((wallet === selected) && !other.selectedFile) }"
                                         @mousedown="selectWallet(wallet)">
                                        {{ wallet }}
                                    </div>
                                </div>
                            </div>

                            <div class="message" v-if="validation">{{ validation }}</div>
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <div class="file f-top">
                                <label for="file">
                                    <div class="button">
                                        {{ !other.selectedFile ? $t('Select wallet') : $t('Change wallet') }}
                                    </div>
                                </label>

                                <input ref="file" id="file" type="file" accept=".di" @change="remoteWallet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template #menu>
                <div class="is-activated">
                    <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H19V3H12V9H19V13H0V0ZM13 4H20V8H13V4ZM14 5H16V7H14V5Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div class="disabled">
                    <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H0V8H8V6H10V5H15L16 6H20L18 2H8V0ZM3 3H5V5H3V3Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="disabled">
                    <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1L6 0L7 1V6.08572L10.7678 2.31796V3.73218V5.14639L7.91416 8H4.08585L1.23224 5.14639V3.73218V2.31796L5 6.08573V1ZM12 9H0L2 15H10L12 9Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 0.5L3 0H9L9.5 0.5L10 1V5H12L10 13H2L0 5H2V1L2.5 0.5ZM4 5H8V2H4V5ZM5 8H7V10H5V8Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 5L10 0V3H2L0 7H10V10L16 5Z" fill="white"/>
                    </svg>

                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    // TODO Fix
    /* eslint-disable */
    import SetupLayout from '../Layout/SetupLayout'

    import WalletService from '../../services/WalletService'


    export default {
        name: 'Wallet',

        data() {
            return {
                foundWallets: [],

                walletName: '',
                selected: '',

                error: true,

                other: {
                    backSettings: {
                        redirectPath: '/'
                    },

                    showDropdown: false,
                    createWallet: true,

                    selectedFile: '',
                    selectedFilePath: ''
                }
            }
        },

        methods: {
            remoteWallet(event) {
                let fileData = event.target.files[0]

                if (fileData) {
                    this.other.selectedFile = true
                    this.other.selectedFilePath = fileData

                    let name = fileData.name.replace('.di', '');
                    if (this.foundWallets.indexOf(name) >= 0) {
                        let newName = name;
                        let i = 1;
                        while (this.foundWallets.indexOf(newName) >= 0) {
                            newName = name + '_' + i
                            i++;
                        }
                        name = newName;
                        alert(this.$t('Wallet name is used. New wallet will added as: ' + name))
                    }

                    this.selected = name
                    this.walletName = this.selected
                }
            },

            //////////////////////////////

            showWallets() {
                this.walletName = ''

                this.other.showDropdown = true
            },

            hideWallets() {
                if (this.walletName) {
                    this.selectWallet(this.walletName)

                    return
                }

                if (!this.selected) {
                    this.selected = ''
                    this.walletName = ''
                } else {
                    this.walletName = this.selected
                }

                this.other.showDropdown = false
            },

            selectWallet(wallet) {
                this.other.selectedFile = false
                this.other.selectedFilePath = ''

                this.selected = wallet
                this.walletName = this.selected

                this.other.showDropdown = false
            },

            keyMonitor(e) {

                this.other.selectedFile = false
                this.other.selectedFilePath = ''
                this.$refs.file.value = null;

                if (e.key === 'Enter' && this.walletName) {
                    this.selectWallet(this.walletName)
                }

            },

            //////////////////////////////

            async nextStep() {
                if (!this.error) {
                    this.$store.commit('Wallet/walletName', this.walletName)
                    if (this.other.createWallet) {
                        this.$router.push('/setup/keystore')
                    } else {
                        try {
                            let wallet

                            if (this.other.selectedFile) {
                                wallet = await WalletService.openRemoteWallet(this.other.selectedFilePath, this.selected)

                                this.$store.commit('Wallet/walletName', this.selected)
                                // this.$store.commit('Wallet/filePath', this.other.selectedFilePath)

                                this.$addNotification(this.$t('Opening a remote wallet'))
                            } else {
                                wallet = WalletService.openLocalWallet(this.walletName)

                                this.$addNotification(this.$t('Opening the local wallet'))
                            }

                            WalletService.readToStoreFromWalletData(this.$store, wallet)
                        } catch (e) {
                            this.$addNotification(this.$t('Parse error'))
                        }

                        this.$router.push('/setup/access-to-wallet')
                    }
                } else {
                    this.$addNotification(this.validation)
                }
            }
        },

        computed: {
            validation() {
                this.other.createWallet = true

                if (this.other.selectedFile) {
                    this.error = false
                    this.other.createWallet = false

                    return this.$t('Wallet file selected')
                } else {
                    if (this.walletName === '') {
                        this.error = true

                        return this.$t('Enter a name for the wallet')
                    }

                    if (this.walletName.match(/^[A-Za-z0-9]+$/)) {
                        if (this.walletName.length > 2) {
                            this.error = false

                            if (this.foundWallets.find(x => {
                                return x === this.walletName
                            })) {
                                this.other.createWallet = false

                                return this.$t('You selected an existing wallet')
                            } else {
                                return this.$t('Name is free to use for the new wallet')
                            }

                        } else {
                            this.error = true

                            return this.$t('Name is too short')
                        }
                    } else {
                        this.error = true

                        return this.$t('Use only letters of the English alphabet and numbers without spaces')
                    }
                }
            },

            filteredWallets() {
                let filtered = []

                for (let wallet of this.foundWallets) {
                    if (this.walletName.length < 2 || wallet.indexOf(this.walletName) >= 0) {
                        filtered.push(wallet)
                    }
                }

                return filtered
            }
        },

        mounted() {
            this.foundWallets = WalletService.getLocalWallets()

            delete localStorage.lastUrl;

            if (this.$store.state.Wallet.walletName) {
                this.selected = this.$store.state.Wallet.walletName
                this.walletName = this.$store.state.Wallet.walletName
            } else if(localStorage.lastWallet) {

                this.selected = localStorage.lastWallet
                this.walletName = localStorage.lastWallet
            }
        },

        components: {SetupLayout}
    }
</script>
