<template>

    <main-layout>

        <div class="c">
            <div class="search" v-if="filteredSearch.length > 2 || search.length >= 2">
                <div>
                    <input type="text" :placeholder="$t('Search')" v-model="search">

                    <div class="icon">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.4782 5.95899C10.4782 8.24144 8.56695 10.168 6.11408 10.168C3.66121 10.168 1.75 8.24144 1.75 5.95899C1.75 3.67654 3.66121 1.75 6.11408 1.75C8.56695 1.75 10.4782 3.67654 10.4782 5.95899ZM9.26966 11.064C8.34845 11.6061 7.26864 11.918 6.11408 11.918C2.73737 11.918 0 9.25005 0 5.95899C0 2.66793 2.73737 0 6.11408 0C9.49079 0 12.2282 2.66793 12.2282 5.95899C12.2282 7.26747 11.7955 8.47745 11.0619 9.46041L13.65 11.9831C14.1213 12.4425 14.1154 13.1931 13.644 13.6525C13.1727 14.112 12.4026 14.1178 11.9313 13.6583L9.26966 11.064Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="nothing-found" v-if="!filteredSearch.length">{{ $t('Nothing found') }}</div>

            <div class="table addresses" v-if="filteredSearch.length">
                <div class="thead">
                    <div>{{ $t('Amount') }}</div>
                    <div>{{ $t('Address ID') }}</div>
                </div>

                <div class="tbody">
                    <div class="tr" v-for="(address, i) in filteredSearch" :key="i">
                        <div>{{ address.amount | number }}</div>

                        <div>
                            <div class="id">
                                <div>{{ address.id }}</div>

                                <div class="copy" @click="$root.copy(address.id)">
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M4.10899 0.546009C4 0.759921 4 1.03995 4 1.6V5.4C4 5.96005 4 6.24008 4.10899 6.45399C4.20487 6.64215 4.35785 6.79513 4.54601 6.89101C4.75992 7 5.03995 7 5.6 7H8.4C8.96005 7 9.24008 7 9.45399 6.89101C9.64215 6.79513 9.79513 6.64215 9.89101 6.45399C10 6.24008 10 5.96005 10 5.4V1.6C10 1.03995 10 0.759921 9.89101 0.546009C9.79513 0.357847 9.64215 0.204867 9.45399 0.108993C9.24008 0 8.96005 0 8.4 0H5.6C5.03995 0 4.75992 0 4.54601 0.108993C4.35785 0.204867 4.20487 0.357847 4.10899 0.546009ZM1.6 3H3V6.4C3 6.96005 3 7.24008 3.10899 7.45399C3.20487 7.64215 3.35785 7.79513 3.54601 7.89101C3.75992 8 4.03995 8 4.6 8H6V8.4C6 8.96005 6 9.24008 5.89101 9.45399C5.79513 9.64215 5.64215 9.79513 5.45399 9.89101C5.24008 10 4.96005 10 4.4 10H1.6C1.03995 10 0.759921 10 0.546009 9.89101C0.357847 9.79513 0.204867 9.64215 0.108993 9.45399C0 9.24008 0 8.96005 0 8.4V4.6C0 4.03995 0 3.75992 0.108993 3.54601C0.204867 3.35785 0.357847 3.20487 0.546009 3.10899C0.759921 3 1.03995 3 1.6 3Z"
                                              fill="white"/>
                                    </svg>
                                </div>
                            </div>

                            <div class="sub" v-if="address.label">{{ address.label }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main-layout>

</template>

<script>
    /* eslint-disable */
    import MainLayout from '../Layout/MainLayout'

    import TransactionsService from '../../services/TransactionsService'

    export default {
        name: 'Address',

        data() {
            return {
                search: '',
            }
        },

        computed: {
            addresses() {
                let addresses = this.$store.getters['Wallet/addresses'],
                    addressBalances = this.$store.getters['Balance/addressBalances']

                return addresses.map((value) => {
                    return {
                        id: value.address,
                        label: this.$store.state.Wallet.addressesLabels[value.address] ? this.$store.state.Wallet.addressesLabels[value.address].label : '',
                        amount: addressBalances[value.address]
                    }
                })
            },

            filteredSearch() {
                let filtered = [],
                    addresses = this.addresses
                        .sort(
                            (a, b) => {
                                if (a.amount === b.amount) {
                                    return a.label.toLowerCase() < b.label.toLowerCase() ? 1 : -1
                                } else {
                                    return a.amount < b.amount ? 1 : -1
                                }
                            }
                        )

                for (let address of addresses) {
                    if (this.search.length < 2 ||

                        address.id.indexOf(this.search) >= 0 ||
                        (TransactionsService.roundTo8(address.amount) + '').indexOf(this.search + '') === 0 ||
                        address.label.indexOf(this.search) >= 0
                    ) {
                        filtered.push(address)
                    }
                }

                return filtered
            }
        },

        components: {MainLayout}
    }
</script>
