<template>

    <main-layout>

        <modal-layout :is-activated="true" :title="$t('Change password')" @close="close">

            <div class="form">
                <div class="inputs">
                    <div class="group input">
                        <input type="password" :placeholder="$t('Current')" v-model="currentPassword">
                    </div>

                    <div class="group input">
                        <input type="password" :placeholder="$t('New')" v-model="password">
                    </div>

                    <div class="group input">
                        <input type="password" :placeholder="$t('Confirm new')" v-model="passwordConfirm">
                    </div>
                </div>

                <div class="line"></div>

                <div class="button" @click="submit">{{ $t('Submit') }}</div>
            </div>

        </modal-layout>

    </main-layout>

</template>

<script>
    // TODO Fix
    /* eslint-disable */
    import MainLayout from '../Layout/MainLayout'
    import ModalLayout from '../Layout/ModalLayout'

    import WalletService from '../../services/WalletService'

    export default {
        name: 'ChangePassword',

        data() {
            return {
                currentPassword: '',
                password: '',
                passwordConfirm: '',

                message: this.$t('All fields are required'),
                error: true
            }
        },

        methods: {
            close() {
                if (localStorage.lastFullUrlIsAccess === 'true') {
                    this.$root.openRoute({
                        redirectPath: '/main',
                        confirm: false
                    })
                } else {
                    this.$root.openRoute({
                        back: true,
                        confirm: false
                    })
                }
            },

            //////////////////////////////

            validation() {
                if (this.currentPassword === '' || this.password === '' || this.passwordConfirm === '') {
                    this.message = this.$t('All fields are required')

                    this.error = true
                } else {
                    if (this.password === this.passwordConfirm) {
                        try {
                            this.$store.commit('Wallet/decryptWallet', this.currentPassword)

                            this.message = ''

                            this.error = false
                        } catch (e) {
                            this.message = this.$t('Invalid password')

                            this.error = true
                        }
                    } else {
                        this.message = this.$t('Passwords do not match')

                        this.error = true
                    }
                }
            },

            submit() {
                this.validation()

                if (!this.error) {
                    try {
                        this.$store.commit('Wallet/decryptWallet', this.currentPassword)
                        this.$store.commit('Wallet/setWalletByMnemonicAndPasswordOldWallet', this.password)

                        this.message = this.$t('Password changed')
                    } catch (e) {
                        this.$addNotification(this.$t('Invalid password'))
                    }

                    let answer = this.$root.openRoute({
                        redirectPath: '/main',
                        confirm: false
                    })

                    if (answer) {
                        this.$addNotification(this.message)
                    }
                } else {
                    this.$addNotification(this.message)
                }
            }
        },

        components: {MainLayout, ModalLayout}
    }
</script>
