<template>

    <main-layout>

        <modal-layout :is-activated="true" :title="$t('Get seed')" @close="close">

            <div class="form">
                <div class="inputs">
                    <div class="group input" v-if="!mnemonic">
                        <input type="password" :placeholder="$t('Password to access')" style="border-radius: 3px 3px 0 0;"
                               v-model="password">
                    </div>

                    <div class="group textarea" v-if="mnemonic">
                        <textarea type="text" @focus="$event.target.select()" :placeholder="$t('Mnemonic seed')"
                                  :style="passphrase ? 'border-radius: 3px 3px 0 0;margin: 0 0 -4px 0' : 'margin: 0 0 -4px 0'"
                                  v-model="mnemonic" readonly/>
                    </div>

                    <div class="group input" v-if="passphrase">
                        <input type="text" @focus="$event.target.select()" :placeholder="$t('Passphrase')" v-model="passphrase"
                               readonly>
                    </div>

                    <div class="button" v-if="!mnemonic" @click="submit"
                         style="margin-top: 2px;border-radius: 0 0 3px 3px;">
                        {{ $t('Submit') }}
                    </div>
                </div>
            </div>

        </modal-layout>

    </main-layout>

</template>

<script>
    // TODO Fix
    /* eslint-disable */
    import MainLayout from '../Layout/MainLayout'
    import ModalLayout from '../Layout/ModalLayout'

    import WalletService from '../../services/WalletService'

    export default {
        name: 'GetSeed',

        data() {
            return {
                password: '',

                mnemonic: '',
                passphrase: ''
            }
        },

        methods: {
            close() {
                if (localStorage.lastFullUrlIsAccess === 'true') {
                    this.$root.openRoute({
                        redirectPath: '/main',
                        confirm: false
                    })
                } else {
                    this.$root.openRoute({
                        back: true,
                        confirm: false
                    })
                }
            },

            //////////////////////////////

            submit() {
                try {
                    this.$store.commit('Wallet/decryptWallet', this.password)

                    this.mnemonic = this.$store.state.Wallet.wallet.mnemonic
                    this.passphrase = this.$store.state.Wallet.wallet.passphrase

                    if (this.passphrase) {
                        this.$addNotification(this.$t('Passphrase found too'))
                    }
                } catch (e) {
                    this.$addNotification(this.$t('Invalid password'))
                }
            }
        },

        components: {MainLayout, ModalLayout}
    }
</script>
