<template>

    <main-layout>

        <div class="c">
            <div class="search" v-if="filteredSearch.length > 2 || search.length >= 2">
                <div>
                    <input type="text" :placeholder="$t('Search')" v-model="search">

                    <div class="icon">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.4782 5.95899C10.4782 8.24144 8.56695 10.168 6.11408 10.168C3.66121 10.168 1.75 8.24144 1.75 5.95899C1.75 3.67654 3.66121 1.75 6.11408 1.75C8.56695 1.75 10.4782 3.67654 10.4782 5.95899ZM9.26966 11.064C8.34845 11.6061 7.26864 11.918 6.11408 11.918C2.73737 11.918 0 9.25005 0 5.95899C0 2.66793 2.73737 0 6.11408 0C9.49079 0 12.2282 2.66793 12.2282 5.95899C12.2282 7.26747 11.7955 8.47745 11.0619 9.46041L13.65 11.9831C14.1213 12.4425 14.1154 13.1931 13.644 13.6525C13.1727 14.112 12.4026 14.1178 11.9313 13.6583L9.26966 11.064Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="nothing-found" v-if="!filteredSearch.length">{{ $t('Nothing found') }}</div>

            <div class="table history" v-if="filteredSearch.length">
                <div class="thead">
                    <div>{{ $t('Status') }}</div>
                    <div>{{ $t('Transaction ID') }}</div>
                    <div>{{ $t('Amount') }}</div>
                    <div>{{ $t('Date') }}</div>
                    <div></div>
                </div>

                <div class="tbody">
                    <div class="tr" v-for="(transaction, i) in filteredSearch" :key="i">
                        <div>
                            <div class="status">
                                <div v-for="(status, k) in transaction.status" :key="k"
                                     :class="[{'default' : !status}, {'plus' : status === 'plus'}, {'minus' : status === 'minus'}, {'canceled' : status === 'canceled'}, {'warning' : status === 'warning'}]">
                                    <svg v-if="status === 'plus' || status === 'minus'" width="12" height="12"
                                         viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.46967 11.5303C5.76256 11.8232 6.23744 11.8232 6.53033 11.5303L11.3033 6.75736C11.5962 6.46447 11.5962 5.98959 11.3033 5.6967C11.0104 5.40381 10.5355 5.40381 10.2426 5.6967L6 9.93934L1.75736 5.6967C1.46447 5.40381 0.989593 5.40381 0.696699 5.6967C0.403806 5.98959 0.403806 6.46447 0.696699 6.75736L5.46967 11.5303ZM5.25 0L5.25 11H6.75L6.75 0L5.25 0Z"
                                            fill="white"/>
                                    </svg>
                                    <svg v-if="status === 'canceled'" width="8" height="8" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M4.95079 4.00002L7.80308 1.14772C8.06564 0.885164 8.06564 0.459475 7.80308 0.196956C7.54053 -0.0656018 7.11487 -0.0656018 6.85232 0.196956L3.99999 3.04929L1.14765 0.196918C0.885097 -0.0656393 0.459447 -0.0656393 0.19689 0.196918C-0.0656299 0.459475 -0.0656299 0.885164 0.19689 1.14768L3.04922 3.99998L0.19689 6.85232C-0.0656299 7.11487 -0.0656299 7.54056 0.19689 7.80308C0.459447 8.06564 0.885097 8.06564 1.14765 7.80308L3.99999 4.95075L6.85232 7.80308C7.11484 8.06564 7.54053 8.06564 7.80308 7.80308C8.06564 7.54052 8.06564 7.11487 7.80308 6.85232L4.95079 4.00002Z"
                                              fill="white"></path>
                                    </svg>
                                    <svg v-if="status === 'warning'" width="12" height="12" viewBox="0 0 12 12"
                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M4.93926 1.14904C5.4107 0.332481 6.5893 0.332482 7.06074 1.14904L11.8341 9.4167C12.3055 10.2333 11.7162 11.254 10.7733 11.254H1.22667C0.283787 11.254 -0.305512 10.2333 0.165929 9.4167L4.93926 1.14904ZM5.38758 3.5995C5.38758 3.26127 5.66177 2.98708 6 2.98708C6.33823 2.98708 6.61242 3.26127 6.61242 3.5995V7.27402C6.61242 7.61225 6.33823 7.88644 6 7.88644C5.66177 7.88644 5.38758 7.61225 5.38758 7.27402V3.5995ZM6.00001 9.11142C5.66178 9.11142 5.38759 9.38561 5.38759 9.72384C5.38759 10.0621 5.66178 10.3363 6.00001 10.3363C6.33824 10.3363 6.61243 10.0621 6.61243 9.72384C6.61243 9.38561 6.33824 9.11142 6.00001 9.11142Z"
                                              fill="white"/>
                                    </svg>

                                    <div class="tooltip">
                                        <template v-if="transaction.message">
                                            {{ transaction.message }}
                                        </template>

                                        <template v-else>
                                            <template v-if="status === 'plus'">{{ $t('Balance top-up') }}</template>
                                            <template v-else-if="status === 'minus'">{{ $t('Balance write-off') }}
                                            </template>
                                            <template v-else-if="status === 'canceled'">{{ $t('Transaction canceled')
                                                }}
                                            </template>
                                            <template v-else>{{ $t('Waiting..') }}</template>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="id">
                                <div>{{ transaction.id }}</div>

                                <div class="copy" @click="$root.copy(transaction.id)">
                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M4.10899 0.546009C4 0.759921 4 1.03995 4 1.6V5.4C4 5.96005 4 6.24008 4.10899 6.45399C4.20487 6.64215 4.35785 6.79513 4.54601 6.89101C4.75992 7 5.03995 7 5.6 7H8.4C8.96005 7 9.24008 7 9.45399 6.89101C9.64215 6.79513 9.79513 6.64215 9.89101 6.45399C10 6.24008 10 5.96005 10 5.4V1.6C10 1.03995 10 0.759921 9.89101 0.546009C9.79513 0.357847 9.64215 0.204867 9.45399 0.108993C9.24008 0 8.96005 0 8.4 0H5.6C5.03995 0 4.75992 0 4.54601 0.108993C4.35785 0.204867 4.20487 0.357847 4.10899 0.546009ZM1.6 3H3V6.4C3 6.96005 3 7.24008 3.10899 7.45399C3.20487 7.64215 3.35785 7.79513 3.54601 7.89101C3.75992 8 4.03995 8 4.6 8H6V8.4C6 8.96005 6 9.24008 5.89101 9.45399C5.79513 9.64215 5.64215 9.79513 5.45399 9.89101C5.24008 10 4.96005 10 4.4 10H1.6C1.03995 10 0.759921 10 0.546009 9.89101C0.357847 9.79513 0.204867 9.64215 0.108993 9.45399C0 9.24008 0 8.96005 0 8.4V4.6C0 4.03995 0 3.75992 0.108993 3.54601C0.204867 3.35785 0.357847 3.20487 0.546009 3.10899C0.759921 3 1.03995 3 1.6 3Z"
                                              fill="white"/>
                                    </svg>
                                </div>
                            </div>

                            <div class="sub">{{ transaction.confirmations }} {{ $t('confirmations') }}</div>
                        </div>

                        <div>{{ transaction.amount | number }}</div>

                        <div class="date">
                            {{ getDate(transaction.date).split('|')[0] }}

                            <div class="tooltip">{{ getDate(transaction.date).split('|')[1] }}</div>
                        </div>

                        <div>
                            <div class="button sm red" v-if="!transaction.status[0]" @click="cancelTransaction(i)">
                                {{ $t('Cancel') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main-layout>

</template>

<script>
    import MainLayout from '../Layout/MainLayout'

    import TransactionsService from '../../services/TransactionsService'

    export default {
        name: 'History',

        data() {
            return {
                search: '',
                moment: require('moment')
            }
        },

        methods: {
            cancelTransaction() {
                // TODO: cancel transaction

                if (confirm(this.$t('Are you sure you want to cancel the transaction?')) !== true) {
                    return
                }

                this.$addNotification(this.$t('Transaction canceled'))
            },

            getDate(date) {
                if (this.moment) {
                    return this.moment(date * 1000).format('D MMM Y|HH:mm:ss')
                } else {
                    return date
                }
            }
        },

        computed: {
            filteredSearch() {
                let filtered = [],
                    transactions = this.$store.getters['Balance/transactions']
                        .sort(
                            (a, b) => a.date < b.date ? 1 : -1
                        )

                for (let transaction of transactions) {
                    if (this.search.length < 2 ||

                        transaction.id.indexOf(this.search) >= 0 ||
                        (this.getDate(transaction.date)).indexOf(this.search) >= 0 ||
                        (TransactionsService.roundTo8(transaction.amount) + '').indexOf(this.search + '') === 0 ||
                        transaction.status[0].indexOf(this.search) >= 0
                    ) {
                        filtered.push(transaction)
                    }
                }

                return filtered
            }
        },

        components: {MainLayout}
    }
</script>
