<template>

    <main-layout>

        <modal-layout :is-activated="true" :title="$t('Receive')" @close="close">

            <div class="form">
                <div class="inputs">
                    <div class="group input">
                        <input type="text" :placeholder="$t('Label')" v-model="label">

                        <div class="more">
                            <div class="faq">
                                <div class="icon">
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1.25254 3.13422L0.590839 3.04285C0.449644 3.02339 0.352716 2.87619 0.379436 2.71884C0.465679 2.17994 0.710671 1.71295 1.11365 1.31872C1.58684 0.855956 2.20733 0.625 2.97665 0.625C3.78566 0.625 4.42981 0.85934 4.90758 1.32802C5.38611 1.7967 5.625 2.34237 5.625 2.96417C5.625 3.30849 5.53647 3.6342 5.36093 3.9413C5.18462 4.24924 4.80912 4.66716 4.2329 5.19592C3.93525 5.47001 3.74979 5.68997 3.67805 5.85664C3.6353 5.95393 3.60706 6.0969 3.5918 6.28555C3.57043 6.54781 3.37352 6.75 3.1354 6.75H2.76142C2.50041 6.75 2.29282 6.50974 2.3035 6.22125C2.31571 5.88454 2.36455 5.54869 2.50498 5.24581C2.64236 4.94972 2.91635 4.6164 3.32848 4.2467C3.73986 3.877 3.98637 3.63505 4.06651 3.51999C4.19015 3.33895 4.25197 3.1393 4.25197 2.92103C4.25197 2.61732 4.14283 2.35844 3.92303 2.14187C3.70322 1.92614 3.40709 1.81785 3.03541 1.81785C2.6767 1.81785 2.37677 1.93122 2.13558 2.15625C1.96539 2.3153 1.83259 2.53356 1.73718 2.8102C1.66163 3.02932 1.46243 3.16298 1.25254 3.13422ZM2.75374 7.625H3.24626C3.59312 7.625 3.875 7.87866 3.875 8.19287V8.80713C3.875 9.1204 3.59312 9.375 3.24626 9.375H2.75374C2.40689 9.375 2.125 9.1204 2.125 8.80713V8.19287C2.125 7.8796 2.40689 7.625 2.75374 7.625Z"
                                              fill="white"/>
                                    </svg>
                                </div>

                                <div class="tooltip" v-html="$t('By default, you have 20 generated receive<br>addresses. Try to use them, because<br>if you lose access to the current wallet file,<br>you will have to use the seed phrase<br>to restore it, but in this case, only the standard<br>20 addresses will be restored.<br>To save all addresses - export the wallet.')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="group input" v-if="newAddress">
                        <input type="text" @focus="$event.target.select()" v-model="newAddress" readonly>
                    </div>

                    <div class="button" @click="submit" style="margin-top: 2px;border-radius: 0 0 3px 3px;">
                        {{ $t('Create new address') }}
                    </div>
                </div>
            </div>

        </modal-layout>

    </main-layout>

</template>

<script>
    // TODO Fix
    /* eslint-disable */
    import MainLayout from '../Layout/MainLayout'
    import ModalLayout from '../Layout/ModalLayout'

    export default {
        name: 'Receive',

        data() {
            return {
                label: '',
                newAddress: ''
            }
        },

        methods: {
            close() {
                if (localStorage.lastFullUrlIsAccess === 'true') {
                    this.$root.openRoute({
                        redirectPath: '/main',
                        confirm: false
                    })
                } else {
                    this.$root.openRoute({
                        back: true,
                        confirm: false
                    })
                }
            },

            //////////////////////////////

            async submit() {
                try {
                    this.newAddress = await this.$store.dispatch('Wallet/unusedAddress', this.label)
                    this.label = ''

                    this.$addNotification(this.$t('New address created'))
                } catch(e) {
                    this.$addNotification(this.$t('Error'))
                }
            }
        },

        components: {MainLayout, ModalLayout}
    }
</script>
