<template>

    <div class="navigation">
        <div class="left" v-if="backSettings">
            <div class="back" @click="$root.openRoute(backSettings)">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.46967 5.61957C0.176777 5.91247 0.176777 6.38734 0.46967 6.68023L5.24264 11.4532C5.53553 11.7461 6.01041 11.7461 6.3033 11.4532C6.59619 11.1603 6.59619 10.6854 6.3033 10.3925L2.06066 6.1499L6.3033 1.90726C6.59619 1.61437 6.59619 1.1395 6.3033 0.846602C6.01041 0.553709 5.53553 0.553709 5.24264 0.846602L0.46967 5.61957ZM12 5.3999L1 5.3999L1 6.8999L12 6.8999L12 5.3999Z"
                        fill="white"/>
                </svg>
            </div>
        </div>

        <div class="right">
            <div class="more" v-if="showMore">
                <div class="icon">
                    <svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M11 2.1499C10.4477 2.1499 10 1.70219 10 1.1499C10 0.597618 10.4477 0.149902 11 0.149902C11.5523 0.149902 12 0.597618 12 1.1499C12 1.70219 11.5523 2.1499 11 2.1499ZM6 2.1499C5.44772 2.1499 5 1.70219 5 1.1499C5 0.597617 5.44772 0.149902 6 0.149902C6.55228 0.149902 7 0.597618 7 1.1499C7 1.70219 6.55228 2.1499 6 2.1499ZM-4.37114e-08 1.1499C-6.78525e-08 1.70219 0.447716 2.1499 1 2.1499C1.55229 2.1499 2 1.70219 2 1.1499C2 0.597618 1.55229 0.149902 1 0.149902C0.447716 0.149902 -1.95703e-08 0.597618 -4.37114e-08 1.1499Z"
                              fill="white"/>
                    </svg>
                </div>

                <div class="navs">
                    <slot name="more"/>
                </div>
            </div>

            <div class="faq" v-if="showFaq">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M1.25254 3.13422L0.590839 3.04285C0.449644 3.02339 0.352716 2.87619 0.379436 2.71884C0.465679 2.17994 0.710671 1.71295 1.11365 1.31872C1.58684 0.855956 2.20733 0.625 2.97665 0.625C3.78566 0.625 4.42981 0.85934 4.90758 1.32802C5.38611 1.7967 5.625 2.34237 5.625 2.96417C5.625 3.30849 5.53647 3.6342 5.36093 3.9413C5.18462 4.24924 4.80912 4.66716 4.2329 5.19592C3.93525 5.47001 3.74979 5.68997 3.67805 5.85664C3.6353 5.95393 3.60706 6.0969 3.5918 6.28555C3.57043 6.54781 3.37352 6.75 3.1354 6.75H2.76142C2.50041 6.75 2.29282 6.50974 2.3035 6.22125C2.31571 5.88454 2.36455 5.54869 2.50498 5.24581C2.64236 4.94972 2.91635 4.6164 3.32848 4.2467C3.73986 3.877 3.98637 3.63505 4.06651 3.51999C4.19015 3.33895 4.25197 3.1393 4.25197 2.92103C4.25197 2.61732 4.14283 2.35844 3.92303 2.14187C3.70322 1.92614 3.40709 1.81785 3.03541 1.81785C2.6767 1.81785 2.37677 1.93122 2.13558 2.15625C1.96539 2.3153 1.83259 2.53356 1.73718 2.8102C1.66163 3.02932 1.46243 3.16298 1.25254 3.13422ZM2.75374 7.625H3.24626C3.59312 7.625 3.875 7.87866 3.875 8.19287V8.80713C3.875 9.1204 3.59312 9.375 3.24626 9.375H2.75374C2.40689 9.375 2.125 9.1204 2.125 8.80713V8.19287C2.125 7.8796 2.40689 7.625 2.75374 7.625Z"
                          fill="white"/>
                </svg>
            </div>

            <div class="language" v-if="showLanguage">
                {{ $t('Language') }}

                <div class="navs">
                    <div v-for="(language, i) in languages"
                         :class="{ 'is-activated' : $i18n.locale === language }"
                         @click="changeLanguage(language)"
                         :key="i">
                        {{ language }}
                    </div>
                </div>
            </div>

            <div class="synch" v-if="$root.synch">Synch..</div>

            <template v-if="showDefault">
                <div class="minimize" @click="$root.minimize()"></div>

                <div class="fullscreen" @click="$root.fullscreen()">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 1.06667C0 0.693298 0 0.506614 0.0726623 0.364006C0.136578 0.238565 0.238565 0.136578 0.364006 0.0726623C0.506614 0 0.693299 0 1.06667 0H2.31579C2.6646 0 2.94737 0.282768 2.94737 0.631579V0.631579C2.94737 0.98039 2.6646 1.26316 2.31579 1.26316H2.10526C1.94221 1.26316 1.86068 1.26316 1.79301 1.27735C1.53401 1.33165 1.33165 1.53401 1.27735 1.79301C1.26316 1.86068 1.26316 1.94221 1.26316 2.10526V2.31579C1.26316 2.6646 0.98039 2.94737 0.631579 2.94737V2.94737C0.282768 2.94737 0 2.6646 0 2.31579V1.06667ZM0 6.93333C0 7.3067 0 7.49339 0.0726623 7.63599C0.136578 7.76144 0.238565 7.86342 0.364006 7.92734C0.506614 8 0.693299 8 1.06667 8H2.31579C2.6646 8 2.94737 7.71723 2.94737 7.36842V7.36842C2.94737 7.01961 2.6646 6.73684 2.31579 6.73684H2.10526C1.94221 6.73684 1.86068 6.73684 1.79301 6.72265C1.53401 6.66835 1.33165 6.46599 1.27735 6.20699C1.26316 6.13932 1.26316 6.05779 1.26316 5.89474V5.68421C1.26316 5.3354 0.98039 5.05263 0.631579 5.05263V5.05263C0.282768 5.05263 0 5.3354 0 5.68421V6.93333ZM4.63158 0.631579C4.63158 0.282768 4.91435 0 5.26316 0H6.93333C7.3067 0 7.49339 0 7.63599 0.0726623C7.76144 0.136578 7.86342 0.238565 7.92734 0.364006C8 0.506614 8 0.693299 8 1.06667V2.22556C8 2.27676 8 2.30236 7.99859 2.32398C7.97686 2.65807 7.71071 2.92423 7.37661 2.94596C7.35499 2.94737 7.32939 2.94737 7.2782 2.94737V2.94737C7.227 2.94737 7.2014 2.94737 7.17978 2.94596C6.84568 2.92423 6.57953 2.65807 6.5578 2.32398C6.55639 2.30236 6.55639 2.27676 6.55639 2.22556V2.10526C6.55639 1.94221 6.55639 1.86068 6.5422 1.79301C6.4879 1.53401 6.28554 1.33165 6.02653 1.27735C5.95887 1.26316 5.87734 1.26316 5.71429 1.26316H5.26316C4.91435 1.26316 4.63158 0.98039 4.63158 0.631579V0.631579ZM8 6.93333C8 7.3067 8 7.49339 7.92734 7.63599C7.86342 7.76144 7.76144 7.86342 7.63599 7.92734C7.49339 8 7.3067 8 6.93333 8H5.68421C5.3354 8 5.05263 7.71723 5.05263 7.36842V7.36842C5.05263 7.01961 5.3354 6.73684 5.68421 6.73684H5.89474C6.05779 6.73684 6.13932 6.73684 6.20699 6.72265C6.46599 6.66835 6.66835 6.46599 6.72265 6.20699C6.73684 6.13932 6.73684 6.05779 6.73684 5.89474V5.68421C6.73684 5.3354 7.01961 5.05263 7.36842 5.05263V5.05263C7.71723 5.05263 8 5.3354 8 5.68421V6.93333Z"
                              fill="white"/>
                    </svg>
                </div>

                <div class="close" @click="$root.close()">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.95079 4.00002L7.80308 1.14772C8.06564 0.885164 8.06564 0.459475 7.80308 0.196956C7.54053 -0.0656018 7.11487 -0.0656018 6.85232 0.196956L3.99999 3.04929L1.14765 0.196918C0.885097 -0.0656393 0.459447 -0.0656393 0.19689 0.196918C-0.0656299 0.459475 -0.0656299 0.885164 0.19689 1.14768L3.04922 3.99998L0.19689 6.85232C-0.0656299 7.11487 -0.0656299 7.54056 0.19689 7.80308C0.459447 8.06564 0.885097 8.06564 1.14765 7.80308L3.99999 4.95075L6.85232 7.80308C7.11484 8.06564 7.54053 8.06564 7.80308 7.80308C8.06564 7.54052 8.06564 7.11487 7.80308 6.85232L4.95079 4.00002Z"
                              fill="white"/>
                    </svg>
                </div>
            </template>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'Navigation',

        props: {
            backSettings: {
                type: Object
            },

            showMore: {
                type: Boolean
            },

            showFaq: {
                type: Boolean
            },

            showLanguage: {
                type: Boolean
            },

            showDefault: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            changeLanguage(language) {
                if (this.$i18n.locale !== language) {
                    this.$i18n.locale = language

                    localStorage.setItem('language', language)

                    this.$addNotification(this.$t('Language changed'))
                }
            }
        },

        computed: {
            languages() {
                return Object.keys(this.$i18n.messages)
            }
        }
    }
</script>
